@media print {
	@page { margin: .25in .25in .25in .7in }
		body {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 9pt;
		}

		.sheet {
			height: 10in ;
			width: 7.57in;
			margin:0;
		}

		.card {
			border:1px #eee dashed;	

			margin: 0;
			width: 2.2in;
			height: 3.0in;
			padding: .1in;
			float: left;
			border-radius: 0;
			box-shadow: none;
		}

		.name {
			font-size: 1.3em;
			font-weight: bold;
			padding: 0;
			margin:0;
			display: block;
		}

		.combatant {
			margin: .1in 0;
			padding: 0;
		}

		.attributes {
			padding: .05in 0;
			margin: .05in 0;
			border: 1pt solid #aaa;
			font-style: italic;
			border-width: 1pt 0; 
		}
		.attributes ul {
			padding: 0;
			margin:0;
		}

		.attributes ul li a {
			color: #000;
			text-decoration: none;
		}

		.attributes ul li, 
		.combatant li {
			list-style: none;
			padding: 0;
			margin:0;
			display: inline;
		}

		.attributes ul li:after {
			content: ',';
		}

		.combatant li:after {
			content: ' / ';
		}
		.combatant li:last-child:after,
		.attributes ul li:last-child:after {
			content: '';
		}

		}